<form id='do-stuff' action='/menu_items' method='post' >
  <input type='hidden' name='menu_item[restaurant_id]' value='<%= restaurant.id %>' />
  <input type='input' name='menu_item[name]' placeholder='name'/>
  <input type='input' name='menu_item[description]' placeholder='desc' />
  <input type='input' name='menu_item[price]' placeholder='10.00'/>
  <input type='submit' value='save restaurant' />
</form>