<h1> Restaurant Index Page </h1> 
<% if logged_in? %>
  <h2> Your Name is <%= current_user.full_name %> </h2>
<% end %>
<a href='/restaurants/new'>Add</a>
<div id='restaurant-list'>
  <% @restaurants.each do |restaurant| %>
    <a href='/restaurants/<%= restaurant.id %>'> Load <%= restaurant.name %></a>
  <% end %> 
</div>