<div>
  <form action='/sessions' method='post'>
    <ul>
      <li><input type='text' name='email' placeholder='email' /></li>
      <li><input type='password' name='password' placeholder='password' /></li>
    </ul>
    <input type='submit' value='login'/>
  </form>
</div>